.container {
  padding: 0;
  display: grid;
  height: calc(var(--vh) * 100);
  grid-template-rows: 0.2fr 2.6fr 0.2fr; 
  grid-template-areas: 
  'head head'
  'main main'
  'foot foot';
}

.header {
  grid-area: head;
}

.main {
  grid-area: main;
  overflow-y: auto;
}

.footer {
  grid-area: foot;
}
