:root {
    /**
     * Colors
     */
    --base: #c655ee;
    --purple: #c655ee;
    --secondary: #414141;
    --grey: #b4b4b4;
    --white: #fff;

    /**
     * Spaces
     */
    --space-3-xs: 2px;
    --space-2-xs: 4px;
    --space-xs: 8px;
    --space-s: 12px;
    --space-m: 16px;
    --space-l: 20px;
    --space-xl: 24px;

    /**
     * Width, height etc.
     */
    --border-radius-s: 4px;
    --border-radius-m: 8px;

    /**
     * Transitions andd animations
     */
    --transition-base: 0.07s;
}