:root {
    /**
     * Colors
     */
    --base: #c655ee;
    --purple: #c655ee;
    --pink: #f057bc;
    --secondary: #686868;
    --light-grey: #ebebeb;
    --grey: #b4b4b4;
    --dark-grey: #686868;
    --white: #fff;

    /**
     * Spaces
     */
    --space-3-xs: 2px;
    --space-2-xs: 4px;
    --space-xs: 8px;
    --space-s: 12px;
    --space-m: 16px;
    --space-l: 20px;
    --space-xl: 24px;
    --space-xxl: 28px;
    --space-xxxl: 32px;

    /**
     * Width, height etc.
     */
    --vh: 1vh;
    --border-radius-s: 4px;
    --border-radius-m: 8px;
    --font-size-s: 13px;
    --font-size-m: 15px;
    --font-size-l: 18px;
    --font-size-xl: 24px;
    --line-height-s: 15px;
    --line-height-m: 17px;
    --line-height-l: 20px;

    /**
     * Transitions andd animations
     */
    --transition-base: 0.07s;
}